.post-content {
  border: 1px solid var(--border-color);
  width: 100%;
  padding: var(--space-md);
  border-radius: var(--border-radius);
  box-shadow:
    0 0 24px #00000026,
    0 4px 12px #00000040,
    0 2px 6px #00000073;
}

.post {
  width: 60%;
  margin: auto;
}

.post h1 {
  font-size: 45px;
  margin-bottom: var(--space-md);
}

.post p {
  margin: var(--space-sm) 0;
}
