.usercard {
  display: flex;
  border-bottom: 1px solid var(--text-color);
  padding-bottom: var(--space-lg);
}

.usercard img {
  border-radius: 100%;
  height: var(--image-size-sm);
  margin-right: var(--space-sm);
}

.usercard div p {
  font-size: medium;
  margin: 0;
}
