html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: var(--font-size);
}

.container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: var(--space-lg);
  padding: var(--space-md);
}

.grid {
  display: grid;
  gap: var(--space-md);
}
