---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("writing");
---

<BaseLayout title="INDEX" description="My Index Desc.">
  <h1>My Astro Index</h1>
  {
    posts.map((post: any) => (
      <li>
        <a href={`/${post.slug}`}>{post.data.title}</a>
      </li>
    ))
  }
</BaseLayout>
