---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("writing");
---

<BaseLayout title="INDEX" description="My Index Desc.">
  <article class="post-content">
    {
      posts.map(async (post) => {
        const { Content } = await post.render();
        return (
          <article>
            <h1>{post.data.title}</h1>
            <h2>{post.data.description}</h2>
            <p>{post.data.author}</p>
            <p>{post.data.date}</p>
            <Content />
          </article>
        );
      })
    }
  </article>
</BaseLayout>
