---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Schism - Who am I?" description="My About Desc.">
  <article class="post-content">
    <section class="post"></section>
  </article>
</BaseLayout>
