---
import "../styles/main.css";
import { Icon } from "astro-icon/components";

const { title = "My Site", description = "Personal writing" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <ul>
          <li>
            <a href="/">
              <Icon name="logo" />
            </a>
          </li>
          <li>
            <a href="/">
              <Icon name="home" />
            </a>
          </li>
          <li>
            <a href="/">
              <Icon name="user" />
            </a>
          </li>
          <li>
            <a href="/">
              <Icon name="about" />
            </a>
          </li>
        </ul>
      </nav>
      <slot />
    </div>
  </body>
</html>
