---
import { Icon } from "astro-icon/components";
---

<nav class="navbar">
  <ul>
    <li>
      <a href="/">
        <Icon name="logo" />
      </a>
    </li>
    <li>
      <a href="/">
        <Icon name="home" />
      </a>
    </li>
    <li>
      <a href="/">
        <Icon name="user" />
      </a>
    </li>
    <li>
      <a href="/">
        <Icon name="about" />
      </a>
    </li>
  </ul>
</nav>
