---
import BaseLayout from "./BaseLayout.astro";
const { title, description, date, author } = Astro.props.data;

const formattedDate = new Date(date).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<BaseLayout>
  <article class="post-content">
    <section class="post">
      <h1>{title}</h1>
      <h2>{description}</h2>
      <p>{author}</p>
      <p>{formattedDate}</p>
      <slot />
    </section>
  </article>
</BaseLayout>
